__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
.idea

app/model/BestQAModel
app/model/finetune_11_03_2023_multilinguamodel-round2
*.xlsx
Almost_completelyFullQA.py
Almost_completelyFullQA_2.py
QA full system.py
test_.py
test.py
heroku.yml
