venv
.DS_Store
env
__pycache__
Almost_completelyFullQA.py
Almost_completelyFullQA_2.py
QA full system.py
test_.py
test.py
*.xlsx
heroku.yml

app/model

# app/model/BestQAModel
# app/model/finetune_11_03_2023_multilinguamodel-round2
# app/model/WangchanBERTa_with_3_datasets(adddataset)


